# In-Class Exercises, Session 2

COMMAND LINE AND ZIP FILE

<B>2.1:  Open a Anaconda Prompt (Windows) or a Terminal window (Mac).  (To reach the Anaconda prompt, do a search for <B>Anaconda</B> and click <B>Anaconad Prompt</B>.)</B>

<UL>
  <LI> (Unix only) Use <B>pwd</B> to see the "present working directory"</LI>
  <LI> Use <B>ls</B> (Mac) or <B>dir</B> (Windows) to see a listing of the files and directories in this directory</LI>
  <LI> Use <B>cd</B> to move into a directory you see listed in the present working directory (for example <B>cd Downloads</B>)</LI>
  <LI> Use <B>cd ..</B> to move into the "parent" directory of the one you are in (this will take you back to the parent of <B>Downlaods</B></LI>
  <LI> Use <B>cd /Users/[yourhomedir]/Desktop</B> to move into the <B>Desktop</B> directory</LI>
  <LI> Use <B>cd ../Downloads</B> to move from the <B>Desktop</B> directory to the <B>Downloads</B> directory</LI>
  <LI> Use <B>cd</B> (Mac) or <B>cd %HOMEPATH%</B> (Windows) to move back into the home directory</LI>
</UL>

SQLITE COMMANDS

<B>2.2:  In the Anaconda Prompt (Windows) or a Terminal window (Mac), travel to the project directory (look at the prompt (Windows) or use <B>pwd</B> (Mac) to see where you are (the present working directory); <B>ls</B> (Mac) or <B>dir</B> (Windows) to see what is in the present directory, and <B>cd [dirname]</B> to travel to a directory, or <B>cd ..</b> to travel into the parent directory.  Launch sqlite with the command <B>sqlite3</B>.  </B>

<BR>
If you unzipped your project directory in the <B>Downloads</B> folder, the commands are:

Mac:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">cd
cd Downloads
cd python_data
cd session_02_files</DIV></pre>

Windows:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">cd %HOMEPATH%
cd Downloads
cd python_data
cd session_02_files</DIV></pre>

If any command returns an error, check the spelling of your command.  If the 3rd command returns an error, check that the <B>session\_02\_files</B> folder was unzipped to your Downloads directory (and that you've spelled it correctly).

start sqlite:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite3</DIV></pre>

You should see the sqlite prompt:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite></DIV></pre>

You can quit out of sqlite with <B>.quit</B>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite>  <B>.quit</B></DIV></pre>

<B>2.3:  <U>Open a database file</U>, then immediately check to see that there are tables.  </B>

From the sqlite prompt:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>.open session_2.db</B>
sqlite> <B>.tables</B>
ad_buys              revenue              students
ad_companies         student_status       user
companyrev           student_status_orig  user_classes</DIV></pre>

If you don't see any tables listed, then you have either misspelled the name of the <B>.db</B> file, or you're in the wrong directory.  First, delete the empty file that you created so you don't get confused.

See the present working directory on Windows:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>.shell cd</B></DIV></pre>

See the present working directory on Mac:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>.shell pwd</B></DIV></pre>

You can use <B>.shell</B> commands to move into the directory where the <B>.db</B> file can be found.
<BR>

<U>Please note</U> that SQL queries end in a semicolon (<B>;</B>) and SQLite3 commands such as <B>.tables</B> and <B>.schema</B> do not:

adding a semicolon to a "dot" command (e.g. <B>.schema;</B>) causes SQLite to ignore the command;

omitting a semicolon from a query causes SQLite to allow "multi-line" queries, which means it will wait until it sees the semicolon.

<B>2.4:  <U>Set display columns</U>.  This configures SQLite to show SELECT output in columns with headers.  </B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <b>.header on</b>
sqlite> <b>.mode column</b></DIV></pre>

<B>2.5:  <U>Show the schema for a table</U>.  Use the <B>.schema</B> command to see the <B>CREATE TABLE</B> for the <B>revenue</B> table, which shows its structure.  </B>

show schema for a table:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>.schema revenue</B></DIV></pre>

SQL COMMANDS

<B>2.6:  <U>Select all rows from the <B>revenue</B> table</U>.  </B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>SELECT * FROM revenue;</B></DIV></pre>

<U>Please note</U> that SQL queries end in a semicolon (<B>;</B>) and SQLite3 commands such as <B>.tables</B> and <B>.schema</B> do not:

adding a semicolon to a "dot" command (e.g. <B>.schema;</B> causes SQLite to ignore the command;

omitting a semicolon from a query causes SQLite to allow "multi-line" queries, which means it will wait until it sees the semicolon.

If you see a continuation line indicator (<B>   ...> </B>) this means that you have started an SQL client and the client is waiting for more SQL (queries can be expressed in more than one line, so the client needs the semicolon to understand the end of the query).  If you're done, simply type the semicolon and hit [Enter].

<B>2.7:  <U>Create a new table</U> called 'test', with columns 'name' (a TEXT column), 'years' (INT) and 'revenue' (a FLOAT column).  Use the <B>.schema</B> to verify the table's existence and have the query echoed back to you.  </B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>CREATE TABLE test (name TEXT, years INT, revenue FLOAT);</B>
sqlite> <B>.schema test</B>
CREATE TABLE test (name TEXT, years INT, revenue FLOAT);</DIV></pre>

<B>2.8:  <U>Drop the table you just created</U>.</B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>DROP TABLE test;</B></DIV></pre>

<B>2.9:  <U>Recreate the table</U> <B>test</B> by using the up arrow to retrieve the original <B>CREATE TABLE</B> statement.  (Make sure not to retype the CREATE TABLE statement - you don't need to!)</B>

 Use the up arrow (twice) on the SQLite3 client, no need to retype:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>CREATE TABLE test (name TEXT, years INT, revenue FLOAT);</B></DIV></pre>

<B>2.10:  <U>Insert a row into the <B>test</B> table</U>.  Run the query a few times by pressing the up arrow and hitting [Enter]</B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>INSERT INTO test VALUES ('Joe', 23, 23.95);</B></DIV></pre>

Note that TEXT column values must have quotes around them and INT and FLOAT column values must not.

<B>2.11:  <U>Run a select query</U> to display the rows you inserted.</B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>SELECT * FROM test;</B></DIV></pre>

<B>2.12:  <U>Delete all rows from the table</U>.  </B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>DELETE FROM test;</B></DIV></pre>

<B>2.13:  <U>Drop table entirely</U>.  </B>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>DROP TABLE test;</B></DIV></pre>

<B>2.14:  <U>Note that you can't drop a nonexistent table</U>.  Attempt to drop the 'test' table again, and note that this fails.  Add an IF EXISTS so that if the table exists, it will be dropped; if it does not exist, it will return an error.  This is especially useful for the "wipe and reload" best practice.  </B>

Next, use the up arrow to recover and re-execute the CREATE TABLE and follow it up imediately with the DROP TABLE IF EXISTS -- to see how easy it is to create and drop tables.

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">sqlite> <B>DROP TABLE IF EXISTS test;</B>
sqlite> <B>CREATE TABLE test (name TEXT, years INT, revenue FLOAT);</B>
sqlite> <B>DROP TABLE IF EXISTS test;</B>
sqlite> <B>CREATE TABLE test (name TEXT, years INT, revenue FLOAT);</B></DIV></pre>

Remember, you don't have to retype an old command!  Just use up arrow and down arrow to recall previously executed commands.

Please KEEP YOUR SQLite SESSION OPEN FOR THE FOLLOWING Python exercises.

LAB 1

<U>Note</U>:  if this is a new session, please follow the directions at the start of these exercises and the first few exercises to travel to the directory where <B>session\_2.db</B> can be found, to verify that it is in your current location, and to use <B>.open</B> to open the file.  (Don't forget that if you are in the wrong location or misspell the filename you will create a  new, empty database file.)

Also in a new session, always remember to issue the setup commands:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">.mode column
.headers on</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.15:  <U>Issue a <B>.tables</B> command to verify that you have opened the existing <B>session\_2.db</B> file:</B></div>

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">.tables</DIV></pre>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">ad_buys         companyrev      student_status  user
ad_companies    revenue         students        user_classes</DIV></pre>

(please note that your table listing may be different than shown above, but should at least show several tables rather than no tables)

If there are no tables listed, use <B>.quit</B> to leave <B>sqlite3</B>, use <B>ls</B> or <B>dir</B> to see that you have created a new, empty <B>.db</B> file (you can check the size in your Windows Explorer or Mac Finder view of the file), and then delete this file.  Then return to the start of these exercises and follow directions to find the existing <B>session\_2.db</B> file.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.16:  <U>CREATE TABLE from database prompt</U>.   </B></div>

Create a table called <B>planets</B> with the following columns:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">planet (a TEXT field)
mass (a FLOAT field)
distance (an INT field)</DIV></pre>

When done, issue a <B>.schema</B> query to see the query and structure of the table reflected back to you.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.17:  <U>INSERT query from database prompt</U>.   </B></div>

Insert each of the following rows of values into the <B>planets</B> table by executing 3 separate INSERT query statements:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Mercury   .33    58
Venus    4.87   108
Earth    5.98   150</DIV></pre>

The <B>sqlite</B> prompt should return without error after each INSERT query.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.18:  <U>SELECT query from database prompt</U>.  </B></div>

Select all rows and columns from the <B>planets</B> table.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">planet      mass        distance
----------  ----------  ----------
Mercury     0.33        58
Venus       4.87        108
Earth       5.98        150</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.19:  <U>SELECT query for specific columns with WHERE clause from database prompt</U>.   </B></div>

Select the planet and and distance columns for all planets further than 100 (km) from the sun.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">planet      distance
----------  ----------
Venus       108
Earth       150</DIV></pre>

<U>Please keep this <B>sqlite</B> session open, or make note</U> of where your <B>session\_2.db</B> file is located so we can access the data you created in the next lab.

DATABASE ACCESS FROM PYTHON

NOTE THAT when opening data files from the exercise files or notebooks, any filename referenced from those exercises should be preceded with <B>../</B>.  (If you create a script in the same directory as the data file, you would not include this.)

NOTE ALSO THAT if you are using Jupyter Notebook, if you wish to call <B>exit()</B> from a notebook, please use <B>sys.exit()</B> (requires <B>import sys</B>); if a strange error occurs, it may be because Jupyter retains variables from all executed cells.  To reset the notebook, click 'Restart Kernel' (the circular arrow) -- this will not undo any changes made.

<B>2.20:  <U>Database connect and <B>cursor()</B></U>.  In a Python program, connect to <B>../session\_2.db</B> (returning a <B>connection</B> object) and call <B>.cursor()</B> on it to get a <B>cursor</B> object we will use for querying.  (Note the <B>../</B> assumes that we are in a directory above the <B>session\_2.db</B> file.)</B>

Close the database connection with <B>conn.close()</B> when finished.

In [ ]:
import sqlite3

db_filename = '../session_2.db'

<B>2.21:  <U>Result set:  <B>for</B> looping</U>.  Use the <B>cursor</B> object to <B>.execute()</B> a <B>SELECT</B> query for all columns in the <B>revenue</B> table, and loop through the <B>result set</B> object with a <b>for</B> loop, printing each row.  Close the database connection when done.  </B>

In [ ]:
import sqlite3

db_filename = '../session_2.db'

conn = sqlite3.connect(db_filename)

c = conn.cursor()

<B>2.22:  <U>Result set:  <B>.fetchone()</B></U>.  Use the <B>cursor</B> object to <B>.execute()</B> a <B>SELECT</B> query for all columns in the <B>revenue</B> table <B>WHERE company = 'Westfield'</B>, and use <B>.fetchone()</B> to retrieve the single result row (tuple) of values.  Close the database connection when done.  </B>

In [ ]:
import sqlite3

db_filename = '../session_2.db'

conn = sqlite3.connect(db_filename)

c = conn.cursor()

c.execute("SELECT * FROM revenue WHERE company = 'Westfield'")

<B>2.23:  <U>Result set:  <B>.fetchmany()</b></U>.  Use the <B>cursor</B> object to <B>.execute()</B> a <B>SELECT</B> query for all columns in the <B>revenue</B> table.  Use <B>.fetchmany(3)</B> to retrieve just 3 rows, then use <B>.fetchmany(4)</B> again to retrieve the remaining 4 rows.  Close the database connection when done.  </B>

In [ ]:
import sqlite3

db_filename = '../session_2.db'

conn = sqlite3.connect(db_filename)

c = conn.cursor()

c.execute('SELECT * FROM revenue')

<B>2.24:  <U>Result set:  <B>.fetchall()</B></U>.  Use the <B>cursor</B> object to <B>.execute()</B> a <B>SELECT</B> query for all columns in the <B>revenue</B> table.  Use <B>.fetchall()</B> to retrieve all rows in the result set as a list of tuples.  Close the database connection when done.  </B>

In [ ]:
import sqlite3

db_filename = '../session_2.db'

conn = sqlite3.connect(db_filename)

c = conn.cursor()

c.execute("SELECT * FROM revenue")

<B>2.25:  <U>Show table columns</U>.  After doing a <B>select *</B> query, use the cursor <B>.description</B> attribute to see the names of columns in a table, which are nested in a list of tuples.  Then pull out just the first item in each tuple to get a list of columns.  Close the database connection when done.    </B>

In [ ]:
import sqlite3

db_filename = '../session_2.db'

conn = sqlite3.connect(db_filename)

c = conn.cursor()

c.execute('SELECT * FROM revenue LIMIT 1')

We're using a LIMIT 1 to pull just one row from the table, which will have all columns.

<B>2.26:  <U>INSERT query</U>.  Use the <B>cursor</B> object to <B>.execute()</B> an <B>INSERT</B> query, inserting a name, state and cost value into the <B>revenue</B> table.  Use parameterized arguments (?) to perform the insertions without having to worry about enquoting or escaping values in the query.  </B>

Make sure to call <B>conn.commit()</B> (where <B>conn</B> is the connection object) to see results.  Also remember to close the database connection when done.

After running, return to your SQLite3 session and perform a <B>SELECT *</B> query so you can see the new row.

In [ ]:
import sqlite3

db_filename = '../session_2.db'

conn = sqlite3.connect(db_filename)

c = conn.cursor()

query = 'INSERT INTO revenue VALUES (?, ?, ?)'

If you don't see the change, make sure you executed <B>conn.commit()</B> after executing the insert.

CSV:  review

<B>2.27:  <U>Write a row to a csv</U>.  Open a new file <B>new.csv</B> for writing (remember that this will truncate (blank out) the file).  Using <B>write.writerow()</b>, write the header row first, then the data in <B>row</B> and <B>row2</B> to the file.  Make sure to close the file before finishing (especially in Jupyter, where the program does not stop running and so the file will not be closed until you close the notebook).  To confirm, open the file directly in a text editor or Excel to view it.</B>

In [ ]:
import csv

header = ['name', 'state', 'country']
row = ['Joe', 'CA', 'USA']
row2 = ['Mary', 'NY', 'USA']

wfh = open('../new.csv', 'w', newline='')
writer = csv.writer(wfh)

<B>2.28:  <U>Write several rows to csv</U>.  Open the file <B>new2.csv</B> for writing and use <B>writer.writerow()</B> to write the header, followed by using <B>writer.writerows()</B> to write the entire list of tuples, to the file.  Make sure to close the file after writing.</B>

In [ ]:
import csv

header = ['name', 'state', 'country']
rows = [ ('Joe', 'CA', 'USA'),
         ('Mary' ,'NY', 'USA') ]

wfh = open('../new2.csv', 'w', newline='')
writer = csv.writer(wfh)

LAB 2

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.29:  <U>Connect to a database and generate a <B>cursor</B> object</U>.  </B></div>

Remember that from exercise files, any data file will be located in the parent directory.  So the correct location for this week's database file is <B>session\_2.db</B>.

Confirm that you have connected to the existing database with this query:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">SELECT name FROM sqlite_master WHERE type= "table"</DIV></pre>

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">('ad_companies',)
('ad_buys',)
('students',)
('revenue',)
('student_status',)
('user',)
('user_classes',)
('companyrev',)
('planets',)</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.30:  <U>SELECT query from <B>planets</B> table</U>.  </B></div>

Select all columns and rows from the 'planets' table (created in the previous lab), then use 'for' to loop over and print each row of results.

In [ ]:
import sqlite3

conn = sqlite3.connect('../session_2.db')
cursor = conn.cursor()

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">('Mercury', '0.33', '58')
('Venus', '4.87', '108')
('Earth', '5.98', '150')</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.31:  <U>Use <B>.fetchone()</B> to retrieve one row</U>.  </B></div>

Select all columns from the <B>user</B> table where <B>user\_id</B> is equal to 2.  Use <B>.fetchone()</B> to retreieve the row.

In [ ]:
import sqlite3

conn = sqlite3.connect('../session_2.db')
cursor = conn.cursor()

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">(2, 'joe', 'pass', 'Joe', 'Wilson')</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.32:  <U>Use <B>.fetchall()</B> to retrieve all rows</U>.  </B></div>

Select all columns from the <B>students</B> table where <B>state</B> is equal to <B>NJ</B>.  Use <B>.fetchall()</B> to retreieve the rows.

In [ ]:
import sqlite3

conn = sqlite3.connect('../session_2.db')
cursor = conn.cursor()

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">('jb23', '115 Karas Dr.', 'Jersey City', 'NJ', '07127')
('jb29', '119 Xylon Dr.', 'Jersey Cit', 'NJ', '07127')</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.33:  <U>Read a table description</U>.  </B></div>

After doing a <B>select *</B> query on the <B>students</B> table, use the cursor <B>.description</B> attribute to retrive a tuple of tuples with tables names:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">( ('id', None, None, None, None, None, None),
  ('address', None, None, None, None, None, None),
  ('city', None, None, None, None, None, None),
  ('state', None, None, None, None, None, None),
  ('zip', None, None, None, None, None, None)     )</DIV></pre>

In [ ]:
import sqlite3

conn = sqlite3.connect('../session_2.db')
cursor = conn.cursor()

query = 'SELECT * FROM students LIMIT 1'

Next, use a list comprehension to retrieve a list of names:

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">['id', 'address', 'city', 'state', 'zip']</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.34:  <U>Insert a row</U>.  </B></div>

Insert a new row into the <B>planets</B> table with the following data:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Mars    64.20    228</DIV></pre>

In [ ]:
import sqlite3

conn = sqlite3.connect('../session_2.db')
cursor = conn.cursor()

After committing the insert with <B>conn.commit()</B>, issue a SELECT query to confirm that the row has been inserted.

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.35:  <U>Loop through database results and write rows to CSV</U>.  </B></div>

Select all rows from the <B>planets</B> table and insert them into a new file <B>../planets.csv</B> file that you open for writing and write row-by row using a <B>csv.writer</B> object.  (Make sure to include the <B>newline=''</B> argument when opening the file, and to close the write file at the end.)

In [ ]:
import sqlite3

conn = sqlite3.connect('../session_2.db')
cursor = conn.cursor()

The resulting file should look like this:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Mercury,0.33,58
Venus,4.87,108
Earth,5.98,150
Mars,64.2,228</DIV></pre>

JSON / MULTIDIMENSIONAL STRUCTURES

<B>2.36:  <U>View and loop through list of dicts</U>.  Open <B>weather\_newyork\_lod.json</B> in a text editor or PyCharm.  This is a <I>list of dicts</I> -- a list where each item in the list is a dict.</B>

Now open this file in Python and load the JSON into a Python object with <B>json.load()</B>.

Loop through the list of dicts and print each dict.

In [ ]:
import json

fh = open('../weather_newyork_lod.json')
lod = json.load(fh)

<B>2.37:  <U>Print value from list of dicts</U>.  Again open the file <B>weather\_newyork\_lod.json</B> in Python and load the JSON into a Python object with <B>json.load()</B>.  </B>

Loop through each dict in the list of dicts and print just the 'date' column.

In [ ]:
import json

fh = open('../weather_newyork_lod.json')
lod = json.load(fh)

<B>2.38:  <U>View and loop through a dict of dicts</U>.  Open <B>weather\_newyork\_dod.json</B> in a text editor or PyCharm.  This is a <I>dict of dicts</I> -- a dict where each key in the dict is a string, and each value in the dict is a dict.</B>

Now open this file in Python and load the JSON into a Python object with <B>json.load()</B>.

Loop through the dict of dicts and print each key and associated value in the dict.

In [ ]:
import json

fh = open('../weather_newyork_dod.json')
dod = json.load(fh)

<B>2.39:  <U>Loop through a dict of dicts and print a value from each</U>.  Again open the file <B>weather\_newyork\_dod.json</B> in Python and load the JSON into a Python object with <B>json.load()</B>.  </B>

Loop through each key and value in the dict of dicts and from each dict value print the 'mean\_temp' value.

In [ ]:
import json

fh = open('../weather_newyork_dod.json')
dod = json.load(fh)

<B>2.40:  <U>Travel to an inner structure</U>.  Open the file <B>ip\_routes.json</B> in a text editor and examine the structure.  Scroll down until you see a repeating dict of dicts nested within the structure.  </B>

Now open the file in your Python code and load it into an object with <B>json.load()</b>.  See if you can reach the repeating dict of dicts using a <I>single statement</I> of chained dict and/or list subscripts.
Print this 'inner' structure (dict of dicts) using json.dumps() with the <B>indent=4</B> parameter argument.

In [ ]:
import json

fh = open('../ip_routes.json')
struct = json.load(fh)

<B>2.41:  <U>Build a dict from a CSV file with CSV header keys</U>.  Use csv to open <B>revenue.csv</B> in a Python file and select out:  the header row and the first data row (hint:  use <B>next()</B> on the <B>reader</B> object to get one line at a time from the file).  </B>

Now build a dict from the header row and first data row with keys that match the header line.

<U>Tip</u>:  use <B>dict(zip(headers, data\_row))</B> to build the dict:  <B>zip()</B> takes two lists and "zips" them together like a zipper to pair up the first items in each list, the second items in each list, etc.  <B>zip(headers, data\_row)</b> will pair up the column heads with data from the row, and passing this to <B>dict()</B> will transform to a dictionary.

In [ ]:
import csv

fh = open('../revenue.csv')
reader = csv.reader(fh)

<B>2.42:  <U>Build a list of dicts</U>.  Incorporating what you did in the previous assignment, now loop through the file and build a dict of header keys and row values <I>for each data row</I> in the <B>revenue.csv</B> file.  Print each of the dicts as you build them.  </B>

Now initialize a new empty list before the loop begins.  As you build each dict, append the dict to the list.

Print the resulting structure once completed.

Finally, use <B>print(json.dumps(lod, indent=4))<B> to print the structure in a friendly format.

In [ ]:
import csv
import json

fh = open('../revenue.csv')
reader = csv.reader(fh)

lod = []

header = next(reader)

<B>2.43:  <U>Build a dict of dicts</U>.  Adapting what you did in the prior solution, now loop through the file and build a dict of header keys and row values <I>for each data row</I> in the <B>revenue.csv</B> file.  Print each of the dicts as you build them.  </B>

Now initialize a new empty dict before the loop begins.  As you build each dict, add the "inner" dict to the "outer" dict:  make the company name the key in the "outer" dict, and the value the "inner" dict.

Print the resulting structure once completed.

Finally, use <B>print(json.dumps(dod, indent=4))</B> to print the structure in a friendly ("pretty") format.

In [ ]:
import csv
import json

fh = open('../revenue.csv')
reader = csv.reader(fh)

dod = {}

header = next(reader)

LAB 3

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.44:  <U>Access item in a list of lists</U>. </B></div>

In [ ]:
lol = [
    [ 1816,   6.7,  'Indiana' ],
    [ 1788,  10.6,  'Georgia' ],
    [ 1819,   4.9,  'Alabama' ]
]

Access the value <B>10.6</B> and print it.

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">10.6</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.45:  <U>Loop through and print 'column' values in a list of lists</U>.<</B></div>

Using a loop, print the state names one after the other.

In [ ]:
lol = [
    [ 1816,   6.7,  'Indiana' ],
    [ 1788,  10.6,  'Georgia' ],
    [ 1819,  4.9,   'Alabama' ]
]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Indiana
Georgia
Alabama</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.46:  <U>Loop through and print 'column' values in a list of dicts</U>. </B></div>

Using a loop, print the years one after the other.

In [ ]:
lol = [
    { 'name': 'Indiana',
      'year': '1816',
      'pop':  6.7
    },
    { 'name': 'Georgia',
      'year': '1788',
      'pop':  10.6
    },
    { 'name': 'Alabama',
      'year': '1819',
      'pop':  4.9
    }
]

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">1816
1788
1819</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.47:  <U>Access item in a dict of dicts</U>.  </B></div>

In a single statement, print <B>1819</B>.

In [ ]:
dod = {
    'Indiana':  {
                   'year': '1816',
                   'pop':  6.7
                },
    'Georgia':  {
                   'year': '1788',
                   'pop':  10.6
                },
    'Alabama':  {
                   'year': '1819',
                   'pop':  4.9
                }
}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">1819</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.48:  <U>Loop through and print 'column' values in a dict of dicts</U>.  </B></div>

Using a loop, print the populations, one after the other.

In [ ]:
dod = {
    'Indiana':  {
                   'year': '1816',
                   'pop':  6.7
                },
    'Georgia':  {
                   'year': '1788',
                   'pop':  10.6
                },
    'Alabama':  {
                   'year': '1819',
                   'pop':  4.9
                }
}

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">6.7
10.6
4.9</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.49:  <U>Access an item in a complex structure</U>.  </B></div>

Print the value <B>9.7</B> in the below structure:

In [ ]:
struct = { 'version':  1.1,
           'data': {
                'states': {
                    'Indiana':  {
                                   'year': '1816',
                                   'pop':  [ 6.7, 6.5, 6.1 ]
                                },
                    'Georgia':  {
                                   'year': '1788',
                                   'pop':  [ 10.6, 9.7, 8.2 ]
                                },
                    'Alabama':  {
                                   'year': '1819',
                                   'pop':  [ 4.9, 4.8, 4.4 ]
                                }
                },
                'pop_years':  [ '2019', '2010', '2000']
            }
        }

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">9.7</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.50:  <U>Loop through and print 'column' values in a complex structure</U>.  </B></div>

Using a loop, print the values <B>1816</B>, <B>1788</B> and <B>1819</B> from the below structure:

In [ ]:
struct = { 'version':  1.1,
           'data': {
                'states': {
                    'Indiana':  {
                                   'year': '1816',
                                   'pop':  [ 6.7, 6.5, 6.1 ]
                                },
                    'Georgia':  {
                                   'year': '1788',
                                   'pop':  [ 10.6, 9.7, 8.2 ]
                                },
                    'Alabama':  {
                                   'year': '1819',
                                   'pop':  [ 4.9, 4.8, 4.4 ]
                                }
                },
                'pop_years':  [ '2019', '2010', '2000']
            }
        }

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">1816
1788
1819</DIV></pre>

<div style="background-color: #ccffcc; padding: 10px; border: 2px solid green"><B>2.51:  <U>Perform a loop within a loop within a complex structure</U>.  </B></div>

Using a loop nested within another 'for' loop, print each state, print and all 3 population values.  For clarity, try indenting each population value, and printing an extra blank line after each state.

In [ ]:
struct = { 'version':  1.1,
           'data': {
                'states': {
                    'Indiana':  {
                                   'year': '1816',
                                   'pop':  [ 6.7, 6.5, 6.1 ]
                                },
                    'Georgia':  {
                                   'year': '1788',
                                   'pop':  [ 10.6, 9.7, 8.2 ]
                                },
                    'Alabama':  {
                                   'year': '1819',
                                   'pop':  [ 4.9, 4.8, 4.4 ]
                                }
                },
                'pop_years':  [ '2019', '2010', '2000']
            }
        }

<U>Expected Output</U>:

<pre style="margin: 0; padding=0"><DIV style="font-family: Courier; border: 1px solid #dbdbdb; padding: 7px">Indiana
  6.7
  6.5
  6.1

Georgia
  10.6
  9.7
  8.2

Alabama
  4.9
  4.8
  4.4</DIV></pre>