# In-Class Exercises, Session 8

<U>Notes if you are using Jupyter Notebook</U>:  to call <B>exit()</B> from a notebook, please use <B>sys.exit()</B> (requires <B>import sys</B>).

If a strange error occurs, it may be because Jupyter retains variables from all executed cells.  To reset the notebook, click 'Restart Kernel' (the circular arrow) -- this will not undo any changes made.

<B>Also note</B> that files are located in the parent directory.  This means that you must prepend <B>../</B> to each filename to find it.

IMPORTING PANDAS AND NUMPY

<B>8.1:  Import pandas and numpy.  Check the .\_\_version\_\_ attribute of the pandas module.  </B>

NOTE:  It's recommended to use Jupyter Notebooks for these exercises, mostly because it displays DataFrames clearly.  In the next Session we'll be using a charting library, and Notebook will be required.

INITIALIZING A DATAFRAME

<B>8.2:  Create an empty DataFrame by calling <B>DataFrame()</B>.  Check the type of the resulting object.  </B>

In [ ]:
import pandas as pd

<B>8.3:  Use this dict of lists to build a DataFrame.  Add a keyword argument <B>index=[]</B> to the call to DataFrame() to populate the list with row labels <B>'x', 'y'</B> and <B>'z'</B>.  Print the DataFrame.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

<B>8.4:  Use dir() to explore the attributes of the pandas module and a DataFrame; use help() to see the help text on pd.read\_csv()</B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['x', 'y', 'z'])

QUICK APPRAISAL OF DATAFRAME

<B>8.5:  Use <B>len()</B> with the DataFrame and <B>len()</B> with <B>.columns</B> to see how many rows and columns are in the DataFrame.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3, 4],
         'b': [2.9, 3.5, 4.9, 5.3],
         'c': ['yourstr', 'mystr', 'theirstr', 'ourstr']  }

df = pd.DataFrame(dol, index=['w', x', 'y', 'z'])

<B>8.6:  Use <B>.columns</B> and <B>.index</B> attributes to see the names of column and row labels in the DataFrame.</B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol)

<B>8.7:  Use the <B>.head()</B> and <B>.tail()</B> methods to examine the DataFrame rows at the top and bottom of this DataFrame.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../FF_abbreviated.txt', sep='\s+')

<B>8.8:  Use simple numeric slicing to see the 50th through 53rd rows from this large DataFrame.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                 header=3, skipfooter=2, engine='python')

<B>8.9:  Use the <B>.dtypes</B> attribute to see what types pandas has assigned to each column.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['x', 'y', 'z'])

<B>8.10:  Use the <B>.describe()</B> and <B>.info()</B>methods to see statistics on your DataFrame's data.</B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['x', 'y', 'z'])

DATAFRAME BASIC ELEMENTS:  Series, Index, columns

<B>8.11:  Explore the .index and .columns attributes of a DataFrame.  Print the resulting objects.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['x', 'y', 'z'])

<B>8.12:  View the 'a' column using subscript syntax (df['a']), and the same column using attribute syntax (df.a).  Print the type of this object.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['x', 'y', 'z'])

<B>8.13:  View the 'y' row using .loc[] and do the same with .iloc[] indexing.  Print the type of this object.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['x', 'y', 'z'])

DATAFRAME READ FROM DATA SOURCE

<B>8.14:  Read and then view a DataFrame from <B>student\_db\_names.csv</B> </B>

Use <B>../</B> in front of the name to specify the parent directory.

In [ ]:
import pandas as pd

<B>8.15:  Reading the same <B>student\_db\_names.csv</B> file, use the <B>index\_col=</B> parameter argument to set the id column for the student DataFrame as the index.</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../student_db_names.csv')

<B>8.16:  Use <B>pd.read\_csv()</B> to read a DataFrame from <B>FF\_abbreviated.txt</B>.  Note that the separator is whitespace -- separator (<B>sep=</b> argument) must be '\s+' (a regex for "one or more spaces").  After creating the DataFrame, use the <B>.columns</B> attribute to set column labels:  <B>date</B>, <B>Mkt-RF</B>, <B>SMB</B>, <B>HML</B>, <B>RF</B>.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../FF_abbreviated.txt')

<B>8.17:  Now use <B>read\_csv()</b> to read <B>F-F\_Research\_Data\_Factors\_daily.txt</B>, using the <B>skiprows=</B> and <B>skipfooter=</B> arguments to omit the 4 header lines and 2 footer lines.  (Note that using these latter arguments require you also add <B>engine='python'</B> to suppress a warning.)</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../FF_Research_Data_Factors_daily.txt', sep='\s+')

Note that skipping 4 lines asks pandas to start reading on the 5th line, where the table headers are -- these are automatically set as the headers for the table.  The date is set as the index.

<B>8.18:  When <B>read\_csv()</b> reads <B>F-F\_Research\_Data\_Factors\_daily.txt</B>, it notes that the 1st column of 10-digit dates are all digits, so it automatically makes it the index and converts the column to integer.  After reading the CSV, check the dtype of the index with <B>df.index.dtype</B>.  Then use <B>df.index.astype('str')</B> to ask pandas to read the index as a string.</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                 header=3, skipfooter=2, engine='python')

<B>8.19:  <U>Read a DataFrame from an excel file</U>.  </B>

Use <B>pd.read\_excel()</B> to read <B>bond\_feed\_tiny.xls</B>.  Use <B>../</B> in front of the name to specify the parent directory.

In [ ]:
import pandas as pd

<B>8.20:  Read a DataFrame from a json file.  The weather data has been saved as a list of dicts and a dict of dicts.  Read each file using <B>.read\_json()</B> and the correct <B>orient</B> parameter.  </B>

For a list of dicts, correct <B>orient=</B> parameter is 'records'.

For a dict of dicts, correct <B>orient=</B> parameter is 'index'.

List of dicts (weather\_newyork\_lod.json):

In [ ]:
import pandas as pd

fh = open('../weather_newyork_lod.json')

Dict of dicts (weather\_newyork\_dod.json):

In [ ]:
import pandas as pd

fh = open('../weather_newyork_dod.json')

<B>8.21:  Read a DataFrame from <B>sqlite\_sample.db</B> using a database connection and the below query.  </B>

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('../sqlite_sample.db')

query = 'SELECT * FROM planets'

<B>8.22:  Open the <B>weather\_newyork.html</B> page in a browser, and use your mouse pointer to select and copy just the first 5 rows of the data, excluding the headers.  Use <B>pd.read\_clipboard()</B> to read the copied data into a DataFrame.  </B>

In [ ]:
import pandas as pd

<B>8.23:  Reading the below data, use <B>df.to\_clipboard()</B> to write the DataFrame data to clipboard.  Open a new Excel file and paste the data directly into the spreadsheet.  </B>

In [ ]:
import pandas as pd

fh = open('../weather_newyork_dod.json')

df = pd.read_json(fh, orient='index')

df = df.set_index('date')

MANIPULATING THE INDEX

<B>8.24:  Print the .index and .columns attributes on this DataFrame</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.25:  Using <B>.rename()</B>, rename column label 'a' to 'A' and row label 'r1' to 'R1'.  (<B>.rename()</B> returns the new, modified DataFrame)</B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['r1', 'r2', 'r3'])

<B>8.26:  Reorder the index on the DataFrame to 'r2', 'r1', 'r3' using .reindex().  (This method also returns the new, modified DataFrame.)</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.27:  Reorder the columns on the DataFrame to 'b', 'a', 'c' using .reindex().  (Hint:  use <B>axis=1</B> to reorder columns.)</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.28:  Reorder the columns on the DataFrame to 'a', 'b', 'x' using .reindex().  Note that the 'x' column springs into existence with empty values.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.29:  Use <B>.set\_index()</B> to set the <B>a</B> column for the student DataFrame as the index for the DataFrame.   (This method returns the new, modified DataFrame.)</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.30:  First, view the below DataFrame.  Note the <B>index\_col='id'</b> parameter set the index to the <B>'id'</B> column.  Next, use <B>.reset\_index()</B> to reset the index to the default (integers), while moving the index to a new column.  Lastly, add the <B>drop=True</B> parameter argument to drop the index entirely, and note that the old index has been dropped.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../student_db_names.csv', index_col='id')

DATAFRAME SUBSCRIPTING and SLICING

<B>8.31:  Subscript the <B>'HML'</B> column of the DataFrame using subscript syntax (you may also try attribute syntax, i.e. <B>df.HML</B>.)  If you need to see the other column headings, use <B>df.columns</B> or <B>df.head()</B></B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                  skiprows=4, skipfooter=2, engine='python')

<B>8.32:  Subscript the <B>19260701</B> row of the DataFrame using <B>.loc[]</B>. If you need to see the other row labels, use <B>df.index</B> or <B>df.head()</B>  (Note that the index values have been read as integers, not strings, so your index must be an integer.)</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

<B>8.33:  Slice the 'Mkt-RF' and 'SMB' columns of the FF DataFrame using subscript syntax with a list of column names.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

This type of slicing is done for read-only purposes (use .loc[] if you intend to write to the slice).

<B>8.34:  Slice the first 3 rows of the FF DataFrame using standard slice syntax with integers (i.e., <B>0:3</B>.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

This type of slicing is done for read-only purposes (use .loc[] if you intend to write to the slice).

<B>8.35:  Use .loc[] indexing with a list to select the first 3 rows (19270701, 19270702 and 19270706) of the DataFrame.  (Note that these have been read into the DataFrame as integers.)  Do this first by passing a list of the 3 index values, then by passing a slice starting with <B>19270701</B> and ending with <B>19270706</B>.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

<B>8.36:  Use .loc[] indexing to select the <B>Mkt-RF</B> and <B>SMB</B> columns of the DataFrame.  Indicate "all rows" by using the empty slice <B>:</B> in the rows position.  Use <B>.head()</B> on the resulting DataFrame slice to see its first rows.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

<B>8.37:  Use <B>.loc[]</B> indexing to select a 2-dimensional slice of the first 3 rows (use a range between <B>19270701</B> and <B>19270706</B>) and <B>SMB</B> and <B>HML</B> columns of the DataFrame.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

<B>8.38:  Use <B>.iloc[]</B> indexing to select the 1st 5 rows and 1st 2 columns of the DataFrame.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

CONDITIONAL SLICING

<B>8.39:  Use a conditional (boolean test) in a subscript to select only those rows in the FF DataFrame that have a Mkt-RF value > 0.  Use <B>.head()</B> on the resulting DataFrame slice to see its first rows.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

This type of slicing is done for read-only purposes (use .loc[] if you intend to write to the slice).

<B>8.40:  Use .loc[] indexing with a conditional (boolean test) to select only those rows with a 0.0 value in the Mkt-RF column.  Use <B>.head()</B> on the resulting DataFrame slice to see its first rows.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../F-F_Research_Data_Factors_daily.txt', sep='\s+',
                    header=3, skipfooter=2, engine='python')

<B>8.41:  Use <B>.isin()</B> (with the Series as argument) in a filter to show only those rows where the 'c' value is 'yourstr' or 'mystr'.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.42:  Use <B>~</B> (the tilde character) to reverse the above test so that we show only rows that are NOT 'yourstr' or 'mystr'.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

df2 = df.loc[ df.c.isin(['yourstr', 'mystr']) ]
print(df2)

VECTORIZED OPERATIONS

<B>8.43:  Add a new column 'd', set to 0.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.44:  Add a new column 'd', set to the value of column 'b' * 2</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.45:  Add a new column 'd', set to the sum of <B>a + b</B>.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

<B>8.46:  Set 'a' to 0 for all 'CA' rows.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3, 4, 5, 6, 7],
                    'b': [1.0, 2.9, 3.5, 4.9, 5.6, 6.8, 7.1],
                    'c': ['CA', 'CA', 'NY', 'NY', 'NJ', 'NJ', 'NV'] },
                    index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7'])

<B>8.47:  Set new column 'd' to a + b for all non-'CA' rows; for 'CA' rows, 'd' should be 0.  </B>

To do this, first establish column 'd' with 0 for all rows, then apply the conditional.

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3, 4, 5, 6, 7],
                    'b': [1.0, 2.9, 3.5, 4.9, 5.6, 6.8, 7.1],
                    'c': ['CA', 'CA', 'NY', 'NY', 'NJ', 'NJ', 'NV'] },
                    index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7'])

SUMMARY METHODS ON SERIES

<B>8.48:  Sum up the 'a' column.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3, 4, 5, 6],
                    'b': [2.9, 3.5, 4.9, 4.1, 2.1, 3.0],
                    'c': ['CA', 'CA', 'OR', 'OR', 'WA', 'WA']  },
                    index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6'])

<B>8.49:  Calculate the average of the 'b' column.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3, 4, 5, 6],
                    'b': [2.9, 3.5, 4.9, 4.1, 2.1, 3.0],
                    'c': ['CA', 'CA', 'OR', 'OR', 'WA', 'WA']  },
                    index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6'])

<B>8.50:  Show the standard deviation of the 'b' column, then show for the 'a' column.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3, 4, 5, 6],
                    'b': [2.9, 3.5, 4.9, 4.1, 2.1, 3.0],
                    'c': ['CA', 'CA', 'OR', 'OR', 'WA', 'WA']  },
                    index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6'])

<B>8.51:  Show the average of the 'b' column, but only for those rows with 'WA' in the 'c' column.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3, 4, 5, 6],
                    'b': [2.9, 3.5, 4.9, 4.1, 2.1, 3.0],
                    'c': ['CA', 'CA', 'OR', 'OR', 'WA', 'WA']  },
                    index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6'])

SORTING

<B>8.52:  Use <B>.sort\_index()</B> to sort the DataFrame by index.</B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'g': [7, 5, 1],
                    'x': [2.9, 3.5, 4.9],
                    'b': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r9', 'r1', 'r5'])

<B>8.53:  Use <B>.sort\_values()</B> to sort the DataFrame by the 'x' value.  Use <B>ascending=False</B> to reverse the sort.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'g': [7, 5, 1, 8],
                    'x': [2.9, 4.9, 3.5, 0],
                    'b': ['yourstr', 'mystr', 'theirstr', 'mystr']  },
                    index=['r9', 'r5', 'r1', 'r3'])

<B>8.54:  Use <B>axis=1</B> to <B>.sort\_index()</B> to sort the DataFrame by its columns.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'g': [7, 5, 1],
                    'x': [2.9, 3.5, 4.9],
                    'b': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r9', 'r5', 'r1'])

CONCATENATING / APPENDING

<B>8.55:  First view, then concatenate the two DataFrames vertically.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

df2 = pd.DataFrame({ 'b': [4, 5, 6],
                     'c': [7.8, 8.2, 9.1],
                     'd': ['thingy', 'thatty', 'flunky']  },
                     index=['r2', 'r3', 'r4'])

Note that the indices are repeated - this can be changed using index manipulation (<B>.rename()</B>, <B>.reindex()</B>, <B>.set\_index()</B>.

<B>8.56:  First view, then concatenate the two DataFrames horizontally.  </B>

In [ ]:
import pandas as pd

df = pd.DataFrame({ 'a': [1, 2, 3],
                    'b': [2.9, 3.5, 4.9],
                    'c': ['yourstr', 'mystr', 'theirstr']  },
                    index=['r1', 'r2', 'r3'])

df2 = pd.DataFrame({ 'd': ['xylo', 'yellow', 'zello'],
                     'e': [0, 0, 0],
                     'f': [1.1, 1.1, 1.2]  },
                     index=['r1', 'r2', 'r3'])

<B>8.57:  Read <B>weather\_newyork.csv</B> into a DataFrame.  Use <B>.reindex()</B> to select just the EST, Max TemperatureF and Min TemperatureF columns (with all rows).  Use <B>.rename()</B> to rename these columns as <B>'date', 'max\_temp' and 'min\_temp'</B>.  Now add an additional column 'diff\_temp' showing the difference between max and min.  Sort the DataFrame by this value, highest to lowest.</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork.csv')

dfs = df.reindex(['EST', 'Max TemperatureF', 'Min TemperatureF'], axis=1)

dfs = dfs.rename(columns={ 'EST': 'date',
                            'Max TemperatureF': 'max_temp',
                            'Min TemperatureF': 'min_temp' })

Please unzip the baby\_names.zip file into a folder called 'baby\_names'.  (For Windows users, please make sure to 'Extract All' so you can see a folder named 'baby\_names' in your data folder -- otherwise, you may only be looking at a 'view' of an unzipped folder)

<B>8.58:  Use <B>pd.read\_csv()</B> to read <B>baby\_names/yob2018.txt</B> and  <B>baby\_names/yob2017.txt</B> into DataFrames (use <B>names=</B> to pass a list of column names <B>'name', 'gender' and 'count'</B>).  Add a year column to each DataFrame to indicate the year for that DataFrame.  Then concatenate vertically into one DataFrame.  Use <B>.head()</B> and <B>.tail()</B> to see the start and end.  </B>

MERGE / JOIN

<B>8.59:  View the two below DataFrames.  Then use <B>pd.merge()</B> to join the <B>student\_db\_grades.csv</B> and <B>student\_db\_names.csv</B> files into a single DataFrame, joining on the id (use <B>on='id'</B>).  Compare "how='outer'" (19 rows, including missing data at the end) to "how='inner'" (only 15 rows, with ids common to both tables) to effect an outer join.   </B>

In [ ]:
import pandas as pd

sgrades = pd.read_csv('../student_db_grades.csv', sep=':')
snames = pd.read_csv('../student_db_names.csv')

<B>8.60:  Reading the same files but setting the 'id' column to the indexes of each DataFrame, use <B>df.join()</B> (the same operation as <B>pd.merge()</B>) to perform the above joins.  </B>

In [ ]:
import pandas as pd

sgrades = pd.read_csv('../student_db_grades.csv', sep=':', index_col='id')
snames = pd.read_csv('../student_db_names.csv', index_col='id')

WORKING WITH MISSING DATA

<B>8.61:  Using the joined student tables, check to see if any null values can be found in the 'course' column.  </B>

In [ ]:
import pandas as pd

sgrades = pd.read_csv('../student_db_grades.csv', sep=':')
snames = pd.read_csv('../student_db_names.csv')

sj = pd.merge(sgrades, snames, on='id', how='outer')

<B>8.62:  Open <B>df0.csv</B> and fill empty cells in just the 'a' column with 0.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../df0.csv', index_col=0)

AGGREGATIONS WITH groupby()

<B>8.63:  Group the count of students by state.  Subscript to just show the <B>'id'</B> column.  Sort by value, descending (<B>ascending=False</B>)</B>

In [ ]:
import pandas as pd

df = pd.read_csv('../student_db_names.csv')

<B>8.64:  Review the below <B>baby names</B> concatenated DataFrame, then group the baby names by gender, then sort the resulting dataframe by this value, descending.  </B>

In [ ]:
import pandas as pd

df18 = pd.read_csv('../baby_names/yob2018.txt',
                   names=['name', 'gender', 'count'])
df18['year'] = '2018'

df17 = pd.read_csv('../baby_names/yob2017.txt',
                   names=['name', 'gender', 'count'])
df17['year'] = '2017'

df = pd.concat([df18, df17])